.collection-item {
  width: 24vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  left: 115px;
  margin: 15px 30px;

  .image {
    min-height: 280px;
    min-width: 280px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .like {
    position: absolute;
    top: 10px;
    left: 148px;
    color: white;
    opacity: 0.5;

    &:hover {
      color: red;
      fill: currentColor;
    }

    &:focus {
      color: red;
    }
  }

  .custom-button {
    width: 80px;
    opacity: 0.9;
    font-size: 9px;
    height: 40px;
    letter-spacing: 0.3px;
    line-height: 40px;
    position: relative;
    right: -60px;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 280px;
    height: 5%;
    display: flex;
    font-size: 18px;

    .productName {
      width: 88%;
      margin-bottom: 15px;
      padding-left: 5px;
    }

    .price {
      width: 12%;
    }
  }
  .description {
    display: flex;

    span {
      width: 280px;
      color: #4a4a4a;
      font-size: 0.8em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 12px 0 12px 5px;
    }
  }

  .footer-down {
    width: 280px;

    .footer-down-inside {
      display: flex;
    }
    .stock {
      padding: 5px 0 0 5px;
    }
  }
}
