.checkout-page {
  width: 65%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 42%;
      margin-right: 10px;
    }
  }

  @media (min-width: 900px) {
    .checkout-header {
      font-size: 12px;
    }
  }

  @media (min-width: 600px) {
    .checkout-header {
      font-size: 14px;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
}
